@font-face {
    font-family: betterCallSaulFont;
    src: url(../fonts/DancingScript-VariableFont_wght.ttf);
  }
  
  html {
      box-sizing: border-box;
      scroll-behavior: smooth;
    }

    *, *:before, *:after {
      box-sizing: inherit;
      padding:0;
      margin: 0;
      font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    }
  
    a {
      text-decoration: none;
      color:#fff;
    }

    *::selection {
        color: rgb(255, 255, 255);
        background-color: rgba(21, 21, 5, 0.438);
      }
      
      p {
        
        font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
        color:#000000;
        
      }