.video-bg {
    pointer-events: none;
    position: absolute;
    width: 100%;
    min-height: inherit;
    object-fit: cover;
    mix-blend-mode:overlay;
    filter: grayscale(50%);
    opacity: 0.5;
    
}

.seasonLinkContainer {
    position: fixed;
    left:0;
    top:1.5rem;
    padding: .5rem;
}